.linkedin-logo {
    position: absolute;
    top: -30px;
    left: -25px;
}
a {
    color: gray;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
.lang {
    //display: block;
    span {
        font-size: 12px;
        color: gray;
        display: block;
    }
}
