<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <div class="container-fluid">
        <div class="col-2"></div>
        <div class="col-8 d-flex mt-1">
            <div class="nav-left d-flex">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" x="0px" y="0px"
                    viewBox="0 0 420 420" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                    <path style="fill:#0967c2;" d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889
                                        C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056
                                        H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806
                                        c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1
                                        s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73
                                        c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079
                                        c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426
                                        c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472
                                        L341.91,330.654L341.91,330.654z" /></svg>
                <label class="search-label">
                    <!-- <svg class="search-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" x="0px"
                                            y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 22 22;"
                                            xml:space="preserve">
    
                                            <path style="fill: #5f6163"
                                                d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1
                                                    c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4
                                                    c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z" />
                                        </svg> -->
                    <input type="text" class="search-input my-auto" placeholder="Arama Yap" />
                </label>
            </div>
            <div class="nav-right d-flex">
                <span>
                    <div class="icon icon-home">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 420 420"
                            style="enable-background:new 0 0 330.242 330.242;" xml:space="preserve">
                            <path
                                d="M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999
	                        c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314
	                        c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053
	                        v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5
	                        c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z" />
                        </svg>
                    </div>
                    <div class="word">
                        Ana Sayfa
                    </div>
                </span>
                <span>
                    <div class="icon icon-network ml-3">
                        <svg version="1.1" data-prefix="fas" data-icon="user-group" width="24px" height="24px" x="0px"
                            y="0px" viewBox="0 0 690 690" class="svg-inline--fa fa-user-group" role="img"
                            xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 330.242 330.242;"
                            xml:space="preserve">
                            <path
                                d="M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3c-95.73 0-173.3 77.6-173.3 173.3C0 496.5 15.52 512 34.66 512H413.3C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM479.1 320h-73.85C451.2 357.7 480 414.1 480 477.3C480 490.1 476.2 501.9 470 512h138C625.7 512 640 497.6 640 479.1C640 391.6 568.4 320 479.1 320zM432 256C493.9 256 544 205.9 544 144S493.9 32 432 32c-25.11 0-48.04 8.555-66.72 22.51C376.8 76.63 384 101.4 384 128c0 35.52-11.93 68.14-31.59 94.71C372.7 243.2 400.8 256 432 256z">
                            </path>
                        </svg>
                    </div>
                    <div class="word pl-2">
                        Ağım
                    </div>
                </span>
                <span>
                    <div class="icon icon-bussiness ml-4">
                        <svg version="1.1" data-prefix="fas" role="img" width="26px" height="26px" x="0px" y="0px"
                            xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-user-group"
                            viewBox="0 0 690 690" style="enable-background:new 0 0 330.242 330.242;"
                            xml:space="preserve">
                            <path
                                d="M320 336c0 8.844-7.156 16-16 16h-96C199.2 352 192 344.8 192 336V288H0v144C0 457.6 22.41 480 48 480h416c25.59 0 48-22.41 48-48V288h-192V336zM464 96H384V48C384 22.41 361.6 0 336 0h-160C150.4 0 128 22.41 128 48V96H48C22.41 96 0 118.4 0 144V256h512V144C512 118.4 489.6 96 464 96zM336 96h-160V48h160V96z">
                            </path>
                        </svg>
                    </div>
                    <div class="word pl-3">
                        İş İlanları
                    </div>
                </span>
                <span>
                    <div class="icon icon-messages">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment-dots"
                            width="26px" height="26px" x="0px" y="0px" class="svg-inline--fa fa-comment-dots" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                            <path
                                d="M256 31.1c-141.4 0-255.1 93.12-255.1 208c0 49.62 21.35 94.98 56.97 130.7c-12.5 50.37-54.27 95.27-54.77 95.77c-2.25 2.25-2.875 5.734-1.5 8.734c1.249 3 4.021 4.766 7.271 4.766c66.25 0 115.1-31.76 140.6-51.39c32.63 12.25 69.02 19.39 107.4 19.39c141.4 0 255.1-93.13 255.1-207.1S397.4 31.1 256 31.1zM127.1 271.1c-17.75 0-32-14.25-32-31.1s14.25-32 32-32s32 14.25 32 32S145.7 271.1 127.1 271.1zM256 271.1c-17.75 0-31.1-14.25-31.1-31.1s14.25-32 31.1-32s31.1 14.25 31.1 32S273.8 271.1 256 271.1zM383.1 271.1c-17.75 0-32-14.25-32-31.1s14.25-32 32-32s32 14.25 32 32S401.7 271.1 383.1 271.1z">
                            </path>
                        </svg>
                    </div>
                    <div class="word pl-2">
                        Mesajlaşma
                    </div>
                </span>
                <span>
                    <div class="icon icon-notification ml-2">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" width="26px"
                            height="26px" x="0px" y="0px" class="svg-inline--fa fa-bell" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                            <path
                                d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z">
                            </path>
                        </svg>
                    </div>
                    <div class="word pl-1">
                        Bildirimler
                    </div>
                </span>
                <div class="dropdown">
                    <div data-toggle="dropdown">
                        <span>
                            <div class="icon icon-pp ml-3">
                                <div class="thumbnail">
                                    <!-- <img src="assets/img/joker.jpeg" alt=""> -->
                                    <img [src]="transformPp()" alt="">

                                </div>
                            </div>
                            <div class="word d-flex word-me ml-2">
                                <span class="me-word">Ben</span>
                                <span class="me-down-sym">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down"
                                        width="10px" height="10px" x="0px" y="0px" class="svg-inline--fa fa-caret-down"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path
                                            d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="profile-sec d-flex">
                                    <div class="icon icon-pp-dd ml-2">
                                        <div class="thumbnail-dd">
                                            <!-- <img src="assets/img/joker.jpeg" alt=""> -->
                                            <img [src]="transformPp()" alt="">
                                        </div>
                                    </div>
                                    <div class="d-block pl-1">
                                        <h4 style="font-size: 18px; font-weight: 600; margin-bottom: 4px;">Halil Mert Sabah</h4>
                                        <h5 style="font-size: 15px; font-weight: 400;">Full Stack Developer</h5>
                                        
                                    </div>
                                </div>
                                <div class="px-1">
                                    <button class="btn-profile">Profili Görüntüle</button>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="account">
                                    <span class="pl-1" style="font-weight: 500; font-size: 18px;">Hesap</span>
                                    <a>Ayarlar ve Gizlilik</a>
                                    <a>Yardım</a>
                                    <a>Dil</a>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="manage">
                                    <span class="pl-1" style="font-weight: 500; font-size: 18px;">Yönet</span>
                                    <a>Gönderi ve Faaliyetler</a>
                                    <a>İş ilanı ve Yayınlama Hesabı</a>
                                    <a>Dil</a>
                                </div>
                                <hr class="dropdown-divider">
                                <span class="pl-1" style="font-size: 14px;">Oturumu Kapat</span>
                            </div>
                        </span>

                    </div>


                </div>

            </div>


        </div>
        <div class="col-2"></div>

    </div>

</nav>